<% provide(:title, @recipe.name) %>
<h1>
  <%= @recipe.name %>
</h1>
<%= @recipe.description %>
<h2>
  材料
</h2>
<table class="table">
  <thead>
    <tr>
      <th>材料名</th>
      <th>量</th>
      <th>カロリー</th>
      <th>炭水化物</th>
      <th>タンパク質</th>
      <th>脂質</th>
      <th>塩分</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe.ingredient_relations.zip(@recipe.ingredients) do |r , t| %>
      <tr>
        <th><%= r.display_ingredient_name %></th>
        <th><%= r.display_weight_name %></th>
        <th><%= t.calorie %></th>
        <th><%= t.carbohydrate %></th>
        <th><%= t.protein %></th>
        <th><%= t.lipid %></th>
        <th><%= t.salt %></th>
      </tr>
    <% end %>
  </tbody>
</table>
